body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-layout-background {
  background: #ececec;
}

.btn-google {
  background: #f0eae9;
  color: #fff;
}

.flexContainerHeader {
  display: flex;
  align-items: center;
  margin: 0 -10px;
}

.push-left {
  margin-right: auto;
}

.flexContainerContent {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
}

.flexContainerSidebar {
  display: flex;
  flex-direction: column;
}

.flexContainerMenu {
  display: flex;
  flex-direction: row;
}

.flexContainerSigninForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.flexContainerGuessingCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.signInForm {
  padding: 20px;
  width: 350px;
  height: 280px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.guessingCardForm {
  padding: 20px;
  width: 350px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 215, 215);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.guessingStatistics {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: 230px;
  background-color: white;
}

.guessingStatisticsButton {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.stars {
  display: flex;
  justify-content: center;
  padding: 2px;
}

.input {
  margin-top: 20px;
}

.login-form {
  max-width: 300px;
  max-height: 400;
  background-color: white;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}
