body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-layout-background {
  background: #ececec;
}

.btn-google {
  background: #f0eae9;
  color: #fff;
}

.flexContainerHeader {
  display: flex;
  align-items: center;
  margin: 0 -10px;
}

.push-left {
  margin-right: auto;
}

.flexContainerContent {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
}

.flexContainerSidebar {
  display: flex;
  flex-direction: column;
}

.flexContainerMenu {
  display: flex;
  flex-direction: row;
}

.login-form {
  max-width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
